@charset "UTF-8";

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
.xans-layout-logotop { text-align:center; }
.xans-layout-logotop a { font-size:27px; line-height:1; color:#000; font-weight:bold; text-decoration:none; font-style:normal; }
.xans-layout-logotop img { max-width:800px; max-height:21px; }

.topArea__logo { text-align:center; }
.topArea__logo a { font-size:27px; line-height:1; color:#000; font-weight:bold; text-decoration:none; font-style:normal; }
.topArea__logo img { max-width:800px; max-height:21px; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
.xans-layout-logotop { width:800px; margin:0 auto; padding:53px 0 31px; text-align:center; }
.xans-layout-logotop a { font-size:35px; color:#000; font-weight:bold; text-decoration:none; font-style:normal; }
.xans-layout-logotop img { max-width:800px; max-height:27px; }

.topArea__logo { width:800px; margin:0 auto; padding:53px 0 31px; text-align:center; }
.topArea__logo a { font-size:35px; color:#000; font-weight:bold; text-decoration:none; font-style:normal; }
.topArea__logo img { max-width:800px; max-height:27px; }
}

#header .header1 {
    position: relative;
    padding: 18px 0;
    text-align: center;
    vertical-align: top;
    background: #fff;
}
#header .titleArea1 h1 {
    line-height: 56px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    background: #4a5164;
}

#mCafe24Order .ec-base-fold.selected > .contents1 {
    overflow: visible;
    opacity: 1;
    height: auto;
    border-top-width: 1px;
    -webkit-transition: height .3s ease,opacity .3s ease-out;
    -moz-transition: height .3s ease,opacity .3s ease-out;
    -ms-transition: height .3s ease,opacity .3s ease-out;
    -o-transition: height .3s ease,opacity .3s ease-out;
    transition: height .3s ease,opacity .3s ease-out;
}

